<% if user_signed_in? %>
<div class="post-contents">

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-success">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <p class="text-center" id="pins">
          <%= pin.description %>
        </p>
        <p class="username">
          <strong>
            <%= pin.user.name if pin.user %>
          </strong>
        </p>
          <%= link_to raw('<span class="glyphicon glyphicon-hand-up"></span>'), like_pin_path(pin), method: :put %> <span class="vote"><%= pin.likes.size%></span>
          
          <%= link_to  raw('<span class="glyphicon glyphicon-hand-down"></span>'), dislike_pin_path(pin), method: :put %><span class="vote"><%= pin.dislikes.size%></span>
       
        <% if pin.user == current_user %>
          <div class="actions">
          <%= link_to raw('<span class="glyphicon glyphicon-edit"></span>Edit'), edit_pin_path(pin) %>
          <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>Destroy'), pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="center custom-pagination">
   <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
</div>
<% else %>
<%= render 'pages/home'%>
<% end %>