<div class="row">
  <div class ="col-md-3 center">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1><%= @user.name %></h1>
      
          <p class="imager">
            <%= image_tag @user.image.url %>
          </p>
    
      </div>
      <% if @user.bio.present? %>
        <div class="panel-body">
          <p><%= @user.bio %></p>
        </div>
      <% end %>

      </div>
    </div>
<div class="panel panel-default col-md-9 center">
<% for pin in @user.pins %>
  <div class="box panel-body garble">
                <%= link_to image_tag(pin.image.url(:medium)), pin_path(pin) %>
    <ul class="list-group">
      <li class="list-group-item"><%= pin_path(pin) %></li>
    </ul>
        </div>

        
<% end %>
</div>