<div class="row">
  <div class ="col-md-3 center">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1><%= @user.name %></h1>
        <% if @user.photo.present? %> 
          <p class="imager">
            <%= image_tag @user.photo.url(:medium) %>
          </p>
        <% end %>
      </div>
      <% if @user.bio.present? %>
        <div class="panel-body">
          <p><%= @user.bio %></p>
        </div>
      <% end %>

      <!-- List group -->
        <% if @user.url.present? %>
          <ul class="list-group">
            <li class="list-group-item"><p><%= link_to "Website", @user.url, class: 'btn btn-lg btn-info' %></li>
          </ul>
        <% end %>
      </div>
    </div>
<div class="panel panel-default col-md-9 center">
<% for project in @user.projects %>
  <div class="box panel-body garble">
                <%= link_to image_tag(project.image.url(:medium)), project_path(project) %>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to project.name, project_path(project) %></li>
    </ul>
        </div>

        
<% end %>
</div>