<!DOCTYPE html>

<html>
	<head>
		  <title>RUGGED</title>
		  <meta name="description" content="Rugged is the premier site for all things outdoors. Post pictures of your favorite outdoor adventures, find new adventurer's or just be amazed by other's outdoor experiences!"> <meta http-equiv="content-type" content="text/html;charset=UTF-8">
		  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
		  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		  <%= csrf_meta_tags %>
		  <%= favicon_link_tag 'favicon.ico' %>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

<% if user_signed_in? %>
	<%= render 'layouts/header'%>
<% else %>
<% end %>

		<div class="">

			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-info")%>
			<% end %>
			<%= yield %>
		</div>

		

	</body>
</html>
